
.field  {
    background-color: rgb(255, 255, 255);
}


.mkRoomBtn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;

    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    

    color: white;
    font-size: 30px;
    background-color: black;

    display: block;
    letter-spacing: 1px;

    margin: auto;
    padding: 7px 25px;

}

.cntinuBtn {
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;

    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    

    color: white;
    font-size: 30px;
    background-color: black;

    display: block;
    letter-spacing: 1px;

    margin: auto;
    padding: 7px 25px;

}



.options {
    display: block;
    text-align: left;

    margin-top: 20px;

    /* background-color: bisque; */
}

#calendar {
    width: 200px;
    height: 50px;

    margin-top: 30px;

    border: 1px solid #000000;
    border-radius: 10px;
}

.choice-rule {
    text-align: center;
}
.rule:hover {
    border: 2px solid black;
}

.rule {
    background-color: rgb(255, 255, 255);
    border: 2px solid #DBDBDB;;

    width: 400px;
    height: 80px;

    color:rgb(0, 0, 0);

    border-radius: 10px;
    margin:5px;
    margin-top: 10px;
}

#step1 {
    text-align: center;
}

#step1 {
    text-align: center;
    display: none;
}

#step2 {
    display: none;
}

#step3 {
    display: none;
}


#input-box {

    width: 424px;
    height: 106px;

    margin: 10px;

    border: 1px solid #000000;
    border-radius: 10px;

    background-color: white;

    font-size: 40px;
    
}

.options ::placeholder {
    color: #000;
    font-size: 40px;
}

#select-box {
    width: 424px;
    height: 106px;

    margin: 10px;

    border: 1px solid #000000;
    border-radius: 10px;
}

