body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
}

.NavBarContainer {
  background-color: tomato;
  /* position: fixed; */
  width: 100%;
  height: 50px;
  z-index: 2;
}

.NavBarContainer ul{
  list-style: none;
  padding-top: 5px;
}

.NavBarContainer ul li {
  float: left;
  width: 100px;
  padding: 10px;
}

/* .PageContainer {
  background-color: white;
  position: fixed;
  width: 100%;
  height: 100%;
  margin-top: 10px;
} */

.header  {
  width: 100%;
}

.gotgongLogo {
  position:fixed;
  width: 120px;
  height: 152px;
  left: 86px;
  top: 82px;
}

.headerUsername {
  position: fixed;
  width: 100px;
  height: 100px;
  right: 86px;
  top: 82px;
  background: #EDEDED;
  border-radius: 22px;
  border: none;
  font-family: 'Sandoll GothicNeo2';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 33px;
  color: #000000;
}